*.js linguist-language=python
*.css linguist-language=python
*.html linguist-language=python

# ---- 插件瘦身：git archive / GitHub 源码导出时排除运行代码，只留插件文件 ----
# 插件只需：.claude-plugin/、.mcp.json、commands/、skills/、LICENSE
api/ export-ignore
base/ export-ignore
browser_data/ export-ignore
cache/ export-ignore
cmd_arg/ export-ignore
config/ export-ignore
constant/ export-ignore
data/ export-ignore
database/ export-ignore
docs/ export-ignore
libs/ export-ignore
logs/ export-ignore
mcp_server/ export-ignore
media_pipeline/ export-ignore
media_platform/ export-ignore
model/ export-ignore
node_modules/ export-ignore
proxy/ export-ignore
scripts/ export-ignore
store/ export-ignore
subtitles/ export-ignore
test/ export-ignore
tests/ export-ignore
testse2e/ export-ignore
tools/ export-ignore
videodl_outputs/ export-ignore
webui/ export-ignore
main.py export-ignore
recv_sms.py export-ignore
var.py export-ignore
pyproject.toml export-ignore
uv.lock export-ignore
requirements.txt export-ignore
package.json export-ignore
package-lock.json export-ignore
mypy.ini export-ignore
schema_mysql.sql export-ignore
.env.example export-ignore
.pre-commit-config.yaml export-ignore
.pytest_cache/ export-ignore
.ruff_cache/ export-ignore
__pycache__/ export-ignore
